# Compiled class file
*.class

/.idea
maven_settings.xml
/target

/dbfiles/*/*
!/dbfiles/*/circle.png
!/dbfiles/users/user1.gif

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
